/* mains */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

/* navbarIDE things */

#mainHeaderIDE {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    z-index: 5000;
    margin: 1em 0 0 1em;
    padding: -1em 1em;
}

.logo2 img {
    height: 2.5rem;
    margin: 0 1em 0 0;
}

.projectData,

.projectDataTitle,
.projectDataSample {
    color: whitesmoke;
    margin: 0 0 0 1em;
    font-size: 70%;
    justify-content: flex-start;
}

.navbarIDE {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: auto;
}


.navbarIDE ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1em;
}

.navbarMenu {
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 120px;
}

.navbarRegularButton {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 0.15rem;
    font: bold 1rem "Lato", sans-serif;
    cursor: pointer;
    transition: background-color 2s ease;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0.5em 1em;
}

.navbarRegularButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.fa-heart {
    padding: 0.1em 0;
}

.fa-chevron {
    display: inline-block;
    margin-left: 2.5em;
}

.fa-table-list, .fa-thumbtack {
    display: inline-block;
    padding: 0.1em 0;
}

/* IDE things */

.bodyIDE,
.mainIDE {
    display: flex;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.boxHTML,
.boxCSS,
.boxJS {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    width: calc(100%/3);
    height: 100%;
    border: 0.1em solid gray;
}

.boxHTMLbar,
.boxCSSbar,
.boxJSbar {
    border-bottom: 0.1em solid greenyellow;
}

.boxHTMLcode input,
.boxCSScode input,
.boxJScode input {
    font: normal 2rem;
    color: whitesmoke;
    background-color: #333;
    width: 100%;
    height: 100vh; /* hay que ajustarlo manualmente */
    padding: 2em;
    border: none;
  
}



/* footer things (output / console / footerNone ) */
.mainOutput {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
}
  
.mainOutput > .output,
.mainOutput > .console {
    flex: 1;
    overflow-y: auto;
    padding: 0.5em;
    width: 500px;
    border: 1px solid black;
    box-sizing: border-box;
}
.footerNone {
    font-family: 'Bungee';
    font-size: 0.6rem;
    color:  #b3b3b3;
    text-align: center;
    padding: 0.1em 0;
    z-index: -10;
}
