/* mains */
header {
    background-color: #111;
    color: #fff;
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

/* navbarIDE things */

#mainHeaderIDE {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo2 {
    display: flex;
    align-items: center;
}

.logo2 img {
    height: 2rem;
}

.projectData{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    margin-right: auto;
    font: normal 0.7rem "Lato", sans-serif;
}

.projectData> .bold {
    font-size: 1.5rem;
}

.projectData> h3 {
    margin: 0.25rem 0;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.navbarIDE {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.navbarIDE ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1em;
}

.navbarRegularButton,
.runButton {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 0.15rem;
    font: bold 1rem "Lato", sans-serif;
    cursor: pointer;
    transition: background-color 2s ease;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0.5em 1em; 
}

.runButton {
    box-shadow: 1px 2px 10px rgba(0, 150, 150, 0.6);
}

.navbarRegularButton:hover,
.runButton:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.navbarRegularButton i,
.runButton i {
    margin-right: 0.5rem;
}

.navbarRegularButton:last-child,
.runButton:last-child {
    margin-right: 0;
}

.fa-heart {
    padding: 0.1em 0;
}

.fa-chevron {
    display: inline-block;
    margin-left: 2.5em;
}

.fa-table-list, .fa-thumbtack {
    display: inline-block;
    padding: 0.1em 0;
}

/* IDE things */

.bodyIDE,
.mainIDE {
    display: flex;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.boxHTML,
.boxCSS,
.boxJS {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    width: calc(100%/3);
    height: 100%;
    border: 0.1em solid gray;
}

.boxHTMLbar,
.boxCSSbar,
.boxJSbar {
    border-bottom: 0.1em solid greenyellow;
}

.boxHTMLcode,
.boxCSScode,
.boxJScode {
    color: whitesmoke;
    background-color: #333;
    width: 100%;
    height: 100vh;
    border: none;
}

/* footer things (output / console / footerNone ) */
 .mainOutput {
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid gray;
    box-sizing: border-box;
}

#return {
    flex: 1;
    overflow-y: auto;
    padding: 0.5em;
    width: 800px;
    border: 1px solid black;
    box-sizing: border-box;
}


.footerNone {
    font-family: 'Bungee';
    font-size: 0.6rem;
    color:  #b3b3b3;
    text-align: center;
    padding: 0.1em 0;
    z-index: -10;
}
