/* mains */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}
body {
    background-image: radial-gradient(circle at top left, #353840, #141414);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0;
    height: 100hv;
    width: 100hv;
    min-height: 100vh;
    /* min-width: 100vw; */
    box-sizing: border-box;
}

/* navbarIDE things */

#mainHeaderIDE {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 5000;
}

.logo2 img {
    height: 2.5rem;
}


.navbarIDE {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 5000;
}


.navbarIDE ul {
    display: flex;
    list-style: none;
    align-items: flex-end;
  
}


.navbarMenu {
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 120px;
    padding-inline-end: 0.5rem;
}

.navbarRegularButton {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 0.15rem;
    font: bold 1rem "Lato", sans-serif;
    cursor: pointer;
    transition: background-color 2s ease;
    white-space: nowrap;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0.5em;
    cursor: pointer;
}

.navbarRegularButton:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.fa-heart {
    padding: 0.1em 0;
}

.fa-chevron {
    display: inline-block;
    margin-left: 2.5em;

}

/* IDE things */

  
.bodyIDE,

.mainIDE {
    display: flex;
    flex-grow: 1;
    overflow-x: hidden;
}

.boxHTML,
.boxCSS,
.boxJS {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    height: 90%;
    border: 0.1em solid gray;
}
  
.boxHTMLbar,
.boxCSSbar,
.boxJSbar {
    border-bottom: 0.1em solid greenyellow;
}
  
  
  
.boxHTMLcode,
.boxCSScode,
.boxJScode {
    font: normal 1rem bold whitesmoke;
    background-color: #333;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    border: none;
    resize: none;
  
}
  
  
.mainOutput {
    display: flex;
    flex-direction: column;
}
  
.mainOutput > .output {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.5em;
    border: solid 0.1em gray;
    white-space: pre-wrap;
}

.mainOutput > .console {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0.5em;
    border: solid 0.1em gray;
    white-space: pre-wrap;
}

/* footer things (output / console / footerNone ) */
.footerNone {
    font-family: 'Bungee';
    font-size: 0.6rem;
    color:  #b3b3b3;
    text-align: center;
    padding: 0.1em 0;
    z-index: -10;
  }
