

@media (min-width: 1024px) and (max-width: 1200px) {
  html {
    transform: scale(1.2);
    transform-origin: top left;
  }

  .navbarMenu ul,
  .navbarMenu2 ul {
    gap: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

/* header & header child elements */
header {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0 20px;
  height: 60px;
}

#navheader {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 30px;
  margin-right: 30px;
}

.navbarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  margin: 0px 120px 0px 50px;

}

.exploreSemiLine p {
  color: #e9d97d;
  font: 12px 'Lato', sans-serif;
  margin: 0px 0 0 10px;
}

.navbarMenu ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

.navbarRegularButton {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 4px;
  font: bold 16px/1 "Lato", sans-serif;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.navbarRegularButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sparkDropdown {
  background-color: transparent;
  color: gray;
  border: none;
  font: normal bold 16px/1 "Lato", sans-serif;
  padding: 15px 20px;
  margin-top: -5px;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.sparkDropdown:hover {
  color: #e9d97d;
}

.sparkDropdown > .fa-chevron-down {
  display: inline-block;
  margin-left: 10px;
}

.navbarMenu2 {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 70px;
  flex-wrap: nowrap;
}

.navbarMenu2 ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.createButton,
.accountThings {
  margin: 10px 0 0 0;
  color: white;
  border: none;
  border-radius: 4px;
  font: normal bold 16px/1 "Lato", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 15px;
  align-items: center;
  white-space: nowrap;
}

.createButton {
  background-color: rgba(255, 255, 255, 0.2);

}

.createButton:hover {
  background-color: #e9d97d;
}

.accountThings {
  background-color: rgba(255, 255, 255, 0.2);
}

.accountThings:hover {
  background-color: transparent;
}

.createButton > .fa-chevron-down {
  display: inline-block;
  color: #4bce79;
  margin-left: 10px;
}

.searchButton {
  color: white;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 15px 15px;
}

.searchButton > .fa-search {
  color: white;
  padding: 0px 10px;
}

.searchButton i {
  font-size: 25px;
}

.searchButton:hover i {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.searchButton > .searchBox {
  width: 75px;
}

/* body & body child elements */
body {
  background-image: radial-gradient(circle at top left, #353840, #141414);
  border-radius: 10px;
  min-height: 100vh;
  overflow: visible;
  margin: 0;
}

.mainBody {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  padding: 20px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
}

.bodyPart1, .bodyPart2 {
  flex: 1;
  margin: 0 0 0 50px;
}

.bodyPart1 {
  text-align: left;
}

.bodyPart1 p {
  font-family: 'Lato';
  font-weight: 300;
  color: #cacaca;
  font-size: 2rem;
  margin-bottom: 30px;
}

.bodyPart1 > p > strong {
  color: #fefefe;
}
.bodyPart1 > p::before {
  content: "CodePen  ";
}

.bodyPart1B p {
  color: #b3b3b3;
  font-size: 1.8rem;
}

.bodyButtons {
  display: flex;
  gap: 30px;
}

.signUpBodyButton {
  font: bold 24px 'Lato';
  color: black;
  background-color: #4bce79;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.signUpBodyButton:hover {
  background-color: orange;
  color: white;
}

.learnMore {
  font: bold 24px 'Lato';
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 9px 20px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.learnMore:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bodyPart2 > p > strong {
  color: #6ad4f8;
}

.bodyPart2 p {
  font-family: 'Lato';
  color: white;
  text-align: left;
  margin: 0 0 0 90px;
}

.bodyPart2 img {
  height: auto;
  width: 70%;
  margin: 10px 0 0 80px;
  box-shadow: -10px 10px 12px rgba(0, 0, 0, 0.3);
}

.bodyPart2 img:hover {
  animation: brillitos 2s infinite alternate;
}

@keyframes brillitos {
  0% {
    box-shadow: -10px 10px 12px rgba(0,0,0,0.3);
  }
  100% {
    box-shadow: -20px 20px 24px rgba(233, 217, 125, 0.5);
  }
}

/* footer & footer child elements */
.bodyFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  background-color: #36383f;
}

.buttonFooter {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  background-color: #36383f;
  font: normal bold 16px/1 "Lato", sans-serif;
  border: solid 1px #b3b3b3;
  padding: 10px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 1;
}

.buttonFooter:hover {
  background-color: black;
}

.latoButton {
  font-family: 'Lato';
}

.bungeeButton {
  font-family: 'Bungee';
  padding: 5px;
}

.footerNone {
  font-family: 'Bungee';
  font-size: 0.8rem;
  color:  #b3b3b3;
  text-align: center;
  margin-top: 5px;
}
