
/*
 @media (min-width: 640px) and (max-width: 767px) {
  header {
    transform: scale(1);
    transform-origin: top left;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  header {
    transform: scale(1.5);
    transform-origin: top left;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

/*
html {
  overflow-x: hidden;
}
*/

/* header & header child elements */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: black;
}

.logo img {
  height: 2.5rem;
}

#navheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 1em;
}

.navbarMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 0.2rem; */
}

.exploreSemiLine p {
  color: #e9d97d;
  font: 0.8rem 'Lato', sans-serif;
  margin: -1em 0 -2em 1em;
}

.navbarMenu ul {
  display: flex;
  gap: 0.2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarRegularButton {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 0.15rem;
  font: bold 1rem "Lato", sans-serif;
  padding: 0.6rem 0.75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.navbarRegularButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sparkDropdown {
  background-color: transparent;
  color: gray;
  border: none;
  font: normal bold 1rem "Lato", sans-serif;
  padding: 0.6rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.3s ease;
}

.sparkDropdown:hover {
  color: #e9d97d;
}

.sparkDropdown > .fa-chevron-down,
.sparkDropdown > .fa-gift {
    display: inline-block;
    margin-left: 0.5rem;
}

.navbarMenu2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.navbarMenu2 ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding: 0;
}

.createButton,
.accountThings {
  color: white;
  border: none;
  border-radius: 0.15rem;
  font: normal bold 1rem "Lato", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.9rem 0.9rem;
  white-space: nowrap;
}

.createButton {
  background-color: rgba(255, 255, 255, 0.2);
}

.createButton:hover {
  background-color: #e9d97d;
}

.accountThings {
  background-color: rgba(255, 255, 255, 0.2);
}

.accountThings:hover {
  background-color: transparent;
}

.createButton > .fa-chevron-down {
  display: inline-block;
  color: #4bce79;
  margin-left: 0.5rem;
}

.searchButton {
  color: white;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 0.15rem;
  cursor: pointer;
  padding: 0.5rem 2rem;
}

.searchButton > .fa-search {
  color: white;
}

.searchButton i {
  font-size: 2rem;
}

.searchButton:hover i {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

/* body & body child elements */
body {
  background-image: radial-gradient(circle at top left, #353840, #141414);
  min-height: 100vh;
  overflow: visible;
  margin: 0;
}

.mainBody {
  display: flex;
  justify-content: space-between;
  margin: -20px 0 -10px 0;
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.bodyPart1, .bodyPart2 {
  flex: 1;
  margin: 0 0 0 50px;
}

.bodyPart1 {
  text-align: left;
}

.bodyPart1 p {
  font-family: 'Lato';
  font-weight: 300;
  color: #cacaca;
  font-size: 2rem;
  margin-bottom: 30px;
}

.bodyPart1 > p > strong {
  color: #fefefe;
}
.bodyPart1 > p::before {
  content: "CodePen  ";
}

.bodyPart1B p {
  color: #b3b3b3;
  font-size: 1.8rem;
}

.bodyButtons {
  display: flex;
  gap: 30px;
}

.signUpBodyButton {
  font: bold 24px 'Lato';
  color: black;
  background-color: #4bce79;
  padding: 12px 20px;
  border-radius: 0.15em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.signUpBodyButton:hover {
  background-color: orange;
  color: white;
}

.learnMore {
  font: bold 24px 'Lato';
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.15em;
  padding: 9px 20px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.learnMore:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bodyPart2 p {
  font: normal bold 0.8rem 'Lato', sans-serif;
  color: white;
  text-align: left;
  margin: 2em 0 0 7.5em;
}

.bodyPart2 > p > strong {
  color: #6ad4f8;
}

.bodyPart2 > .exampleWithShadowBox {
  height: auto;
  width: 70%;
  margin: 0.2em 0 0 80px;
  box-shadow: -10px 10px 12px rgba(0, 0, 0, 0.3);
  transition: all 2s ease-in-out;
  animation: flash 0.6s ease-out;
}

@keyframes flash {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(1.25);
  }
  50% {
    filter: brightness(1.75);
  }
  70% {
    filter: brightness(1.9);
  }
  80% {
    filter: brightness(1.5);
  }
  90% {
    filter: brightness(1.25);
  }
  100% {
    filter: brightness(1);
  }
}

.bodyPart2 > .exampleWithShadowBox.hovered {
  filter:grayscale(50);
}

.bodyPart2 > .exampleWithShadowBox:hover {
  animation: brillitos 2s infinite alternate;
}

@keyframes brillitos {
  0% {
    box-shadow: -10px 10px 12px rgba(0,0,0,0.3);
  }
  100% {
    box-shadow: -20px 20px 24px rgba(233, 217, 125, 0.5);
  }
}

/* footer & footer child elements */
.bodyFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  background-color: #36383f;
}

.buttonFooter {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: center;
  background-color: #36383f;
  font: normal bold 16px/1 "Lato", sans-serif;
  border: solid 1px #b3b3b3;
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 1;
}

.buttonFooter:hover {
  background-color: black;
}

.latoButton {
  font-family: 'Lato';
}

.bungeeButton {
  font-family: 'Bungee';
  padding: 5px;
}

.footerNone {
  font-family: 'Bungee';
  font-size: 0.6rem;
  color:  #b3b3b3;
  text-align: center;
  margin-top: 5px;
}

/* Easter egg confs */
#player {
  visibility: visible;
  color: white;
  border: none;
  border-radius: 0.15rem;
  font: normal bold 1rem "Lato", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 2rem 4rem;
  white-space: nowrap;
}

.initialMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 69vh; 
  background-color: #5858fe;
  padding: 20px;
  text-align: center;
  margin-bottom: -10px;
}

.initialMessage h1 {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 60px;
  color: white;
  margin: 0;
  margin-bottom: 20px;
  background-color: #5858fe;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.playButton {
  font-family: 'Pixelify Sans', sans-serif;
  padding: 15px 30px;
  font-size: 20px;
  color: white;
  background-color: #4040d0;
  border: none;
  border-radius: 0.15em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* to be fixed */

}

.playButton:hover {
  background-color: #2c2c9f;
  transform: scale(1.05); 
}

.playButton:active {
  background-color: #1e1e7a;
}

.egg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
  background-color: #5858fe;
  width: 100%;
  height: 75vh; 
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 0 0 -10px 0;
}

.itsRainingStars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.stars {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  background-size: contain;
  width: 30px;
  height: 30px;
  animation: fall 7s linear infinite, sparkle 3s ease-in-out infinite;
}

@keyframes fall {
  0% {
      transform: translateX(-50%) translateY(-50px) rotate(0deg);
  }
  100% {
      transform: translateX(-50%) translateY(100vh) rotate(360deg);
  }
}

@keyframes sparkle {
  0%, 100% {
      opacity: 0.8;
  }
  50% {
      opacity: 1;
  }
}

.eggBox1 img {
  width: 51%;
  max-height: 100%;
  object-fit: contain;
  margin-left: 10em;
}

.eggBox2 {
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollingFarewell {
  position: absolute;
  padding: 0em 5em;
  top: 90%;
  animation: scrollUp 88s linear infinite;
  white-space: pre-line;
}

.scrollingFarewell span {
  font: normal bold 20px/1 'Pixelify Sans';
  text-align: left;
  color: whitesmoke;
  /* border: solid 1px black; */
  text-shadow: 5px 5px 5px black;
}

@keyframes scrollUp {
  0% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
